.loading-container {
  background: rgba(255, 255, 255, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
.loading-container__bounce {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  top: 50%;
}
.loading-container__bounce::before, .loading-container__bounce::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.loading-container__bounce::before {
  border-top-color: #333;
  border-bottom-color: #333;
  animation-delay: 0.5s;
}
.loading-container__bounce::after {
  border-left-color: #333;
  border-right-color: #333;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.header {
  background-color: #000;
  height: 84px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header__content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}
.header__logo {
  width: 130px;
}
.header__favorites {
  color: #FFF;
  display: flex;
}
.header__favorites-image {
  margin-right: 6px;
}

@media (min-width: 768px) {
  .header__content {
    padding-left: 42px;
    padding-right: 42px;
  }
}
.search-bar__input {
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  padding-bottom: 6px;
  padding-left: 25px;
  width: 100%;
}
.search-bar__input:focus {
  outline: 0;
}
.search-bar__input-container {
  margin-bottom: 30px;
  padding-top: 10px;
  position: relative;
  width: 100%;
}
.search-bar__button {
  position: absolute;
  left: 0;
  top: 15px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  text-indent: -9999px;
  background: url("/lens.svg") no-repeat center center;
  background-size: 15px 15px;
  z-index: 1;
}
.search-bar__counter {
  display: block;
  font-size: 12px;
  padding-top: 10px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .search-bar__input-container {
    margin-bottom: 42px;
    padding-top: 32px;
  }
}
.character-home-page {
  padding-top: 84px;
}
.character-home-main {
  padding-bottom: 56px;
  padding-top: 24px;
}
.character-home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}
.character-home-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 14px;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
.character-home-card {
  flex: 1 1 calc((100% - 14px) / 2);
  max-width: calc((100% - 14px) / 2);
  background-color: #000;
  position: relative;
}
.character-home-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.character-home-card::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -15px;
  width: 20px;
  height: 20px;
  background-color: white;
  transform-origin: bottom right;
  transform: rotate(-45deg);
}
.character-home-card__image {
  height: inherit;
  object-fit: cover;
  width: 100%;
}
.character-home-card__image-container {
  height: 190px;
  overflow: hidden;
}
.character-home-card__info {
  border-top: 5px solid #EC1D24;
  color: #FFF;
  min-height: 60px;
  padding: 16px;
  text-transform: uppercase;
}
.character-home-card__title {
  font-size: 14px;
  width: 80%;
}
.character-home-card__favorites {
  position: absolute;
  right: 16px;
  top: 215px;
}

@media (min-width: 768px) {
  .character-home-container {
    padding: 0 42px;
  }
  .character-home-card {
    flex: 1 1 calc((100% - 84px) / 7);
    max-width: calc((100% - 84px) / 7);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .character-home-card {
    flex: 1 1 calc((100% - 42px) / 4);
    max-width: calc((100% - 42px) / 4);
  }
}
