.search-bar {

  &__input {
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    padding-bottom: 6px;
    padding-left: 50px;
    width: 100%;

    &:focus {
      outline: 0;
    }

    &-container {
      margin-bottom: 30px;
      padding-top: 10px;
      position: relative;
      width: 100%;

      button {
        left: 0;
        position: absolute;
      }
    }
  }

  &__counter {
    display: block;
    font-size: 12px;
    padding-top: 10px;
    text-transform: uppercase;
  }
}

@media (min-width: $breakpoint-md) {

  .search-bar__input-container {
    margin-bottom: 42px;
    padding-top: 32px;
  }
}
