.search-bar {

  &__input {
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    padding-bottom: 6px;
    padding-left: 25px;
    width: 100%;

    &:focus {
      outline: 0;
    }

    &-container {
      margin-bottom: 30px;
      padding-top: 10px;
      position: relative;
      width: 100%;
    }
  }

  &__button {
    position: absolute;
    left: 0;
    margin-top: 4px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    text-indent: -9999px;
    background: url("/lens.svg") no-repeat center center;
    background-size: 15px 15px;
    z-index: 1;
  }

  &__counter {
    display: block;
    font-size: 12px;
    padding-top: 10px;
    text-transform: uppercase;
  }
}

@media (min-width: $breakpoint-md) {

  .search-bar__input-container {
    margin-bottom: 42px;
    padding-top: 32px;
  }
}
